<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments :: header}">

</head>
<body>
<div th:insert="~{fragments :: menu}"/>

<div class="container-fluid">				    
	 	<form id="updateRefugeeForm" th:if="${refugee!=null}" th:object="${refugee}" th:action="@{/refugee/{code}(code=${param.refugeeId})}" method="post" >
			<h3 class="form-signin-heading">Refugee</h3>
			<table class="table table-borderless table-centralised">
			 	<div class="form-group row">
	   				<label for="name" class="col-sm-2 col-form-label">first and last name</label>
	  				<div class="col-2">
	     				<input id="name" aria-readonly="true" readonly type='text' th:field="*{firstName}" class="form-control" placeholder="first name"/>
						<p class="error-message"th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
	    			</div>
	    			<div class="col-2">
						<input aria-readonly="true" readonly type='text' th:field="*{lastName}" class="form-control" placeholder="last name"/> 
						<p class="error-message"th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
	    			</div>
  				</div>	
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">birth date</label>
					<div class="col-2">
					<input aria-readonly="true" readonly type="date"th:field="*{birthDate}" class="form-control" /> 
						<p class="error-message"th:each="error : ${#fields.errors('birthDate')}" th:text="${error}">Validation error</p>
					</div>		
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">gender</label>
					<div class="col-2">
						<select aria-disabled="true" disabled class="form-control" th:field="*{gender}">
							<option th:value="'female'">female</option>
							<option th:value="'male'">male</option>
							<option th:value="'neutral'">neutral</option>
						</select> 
						<p class="error-message"th:each="error : ${#fields.errors('gender')}" th:text="${error}">Validation error</p> 
	    			</div>
  				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">home region</label>
					<div class="col-2">
					<select aria-disabled="true" disabled type='text' th:field="*{regionId}" class="form-control">
						<option th:each="region : ${regions}"
								th:value="${region.Id}"
								th:text="${region.region}"
								> where do you come from?
						</option>
					</select>
	    			</div>
  				</div>			
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">passport number</label>
					<div class="col-2">
					<input type="text"th:field="*{passportNo}" class="form-control" /> 
					<p class="error-message"th:each="error : ${#fields.errors('passportNo')}" th:text="${error}">Validation error</p>
	    			</div>
  				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">arrival date</label>
					<div class="col-2">
					<input aria-readonly="true" readonly type="datetime-local"th:field="*{arrivalDate}" th:value="${refugee.arrivalDate}"class="form-control" /> 
					<p class="error-message"th:each="error : ${#fields.errors('arrivalDate')}" th:text="${error}">Validation error</p>
	    			</div>
  				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">planned departure date</label>
					<div class="col-2">
					<input type="date"th:field="*{plannedDepartureDate}" class="form-control" /> 
					<p class="error-message"th:each="error : ${#fields.errors('plannedDepartureDate')}" th:text="${error}">Validation error</p>
	    			</div>
  				</div>
 				<div class="form-group row">
					<label class="col-sm-2 col-form-label">departure date</label>
					<div class="col-2">
					<input type="date"th:field="*{departureDate}" class="form-control" /> 
					<p class="error-message"th:each="error : ${#fields.errors('departureDate')}" th:text="${error}">Validation error</p>
	    			</div>
  				</div> 				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">plan</label>
					<div class="col-2">
					<select th:field="*{planId}" class="form-control dropdown">
						<option th:each="plan : ${plans}" 
								th:value="${plan.Id}"
								th:text="${plan.plan}" class="dropdown-item">
						</option>
					</select>
	    			</div>
  				</div>

			</table>
			<button id="updateRefugeeBtnId" name="updateRefugeeBtn" type="submit" class="btn btn-dark">Update Refugee</button>			
		</form>
		</p>
		</p>
		</p>
		<form   th:action="@{/refugee/{id}/delete(id=${param.refugeeId})}" method="post">	    				     
    		<button id="deleteRefugeeBtn"  name="deleteRefugeeBtn" type="submit" class="btn btn-light">Delete Refugee</button>
	    </form>
		
	</div>
</body>
</html>